each project in projects
    .portfolio-modal.modal.fade(id='modal-'+project.id, tabindex='-1', role='dialog', aria-hidden='true')
        .modal-content
            .close-modal(data-dismiss='modal')
                .lr
                    .rl
            .container
                .row
                    .col-lg-8.col-lg-offset-2
                        .modal-body
                            h2 #{project.title}
                            img.img-responsive.img-centered(src=project.img, alt='')
                            p!=project.description
                            ul.list-inline.item-details
                                li
                                    | Client:
                                    strong #{project.client}
                                li
                                    | Date:
                                    strong #{project.date}
                                li
                                    | Link:
                                    strong
                                        a(href=project.url) #{project.url}

                            button.btn.btn-default(type='button', data-dismiss='modal')
                                i.fa.fa-times
                                |  Close
